body{
    height: 100vh;
    display: grid;
    grid-template-rows: 150px 1fr 100px ;
}

header{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    
}
main {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}
footer{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}